@page "/login"
@rendermode InteractiveServer

@using System.Text
@using System.Security.Cryptography;
@using Datas;
@using VirtualList.Helpers;

@inject MainDbContext mainDb
@inject ILoggerFactory loggerFactory
@inject IJSRuntime js

<PageTitle>登录 - VirtualList</PageTitle>

<FluentStack Orientation="Orientation.Vertical">
    @if(LoginFails >= 5)
    {
        <h3>登陆失败次数过多。连接被锁定。</h3>
    }
    else
    {
        <h3>请先登录。</h3>
        <p>用户名：</p>
        <FluentTextField @bind-Value="UserName" />
        <p>密码：</p>
        <FluentTextField @bind-Value="Password" TextFieldType="TextFieldType.Password" />
        @if(LoginFails != 0)
        {
            <p style="color: red">用户名或密码错误，请重试。</p>
        }
        <FluentButton OnClick="@DoLogin">登录</FluentButton>
    }
</FluentStack>

@code {
    private string UserName { get; set; } = "";
    private string Password { get; set; } = "";

    private int LoginFails { get; set; } = 0;

    private ILogger? realLogger;
    private ILogger logger { get => realLogger ?? loggerFactory.CreateLogger("LoginPage"); }

    async Task DoLogin()
    {
        var userInfo = mainDb.Users.Find(UserName) as UserInfo;
        if (userInfo is null || !userInfo.PasswordHash.SequenceEqual(PasswordHelper.HashPassword(userInfo.PasswordSalt, Password)))
        {
            logger.LogInformation($"用户{UserName}登录失败：{(userInfo is not null ? "密码错误" : "用户不存在")}");
            LoginFails++;
            return;
        }
        using var rng = RandomNumberGenerator.Create();
        byte[] token = new byte[64];
        rng.GetBytes(token);
        var loginInfo = new LoginInfo()
            {
                CreatedAt = DateTime.Now,
                ExpiresAt = DateTime.Now.AddMonths(1),
                Token = token,
                User = userInfo
            };
        mainDb.LoginInfos.Add(loginInfo);
        userInfo.LastLogin = DateTime.Now;
        mainDb.SaveChanges();
        logger.LogInformation($"用户{UserName}登陆成功");
        await js.InvokeVoidAsync("WriteCookie.WriteCookie", "Token", Convert.ToBase64String(token), DateTime.Now.AddMonths(1));
    }
}
