@page "/user"
@rendermode InteractiveServer

@using System.Security.Claims
@using System.Security.Cryptography
@using System.Text
@using VirtualList.Datas
@using VirtualList.Helpers

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject MainDbContext mainDb

<PageTitle>用户信息 - VirtualList</PageTitle>

@if(userInfo is not null)
{
    <FluentStack Orientation="Orientation.Vertical">
        <p>
            注册时间：@userInfo.CreatedTime
            <br/>
            上次登录时间：@userInfo.LastLogin
        </p>

        <h3>更改密码</h3>
        旧密码：
        <FluentTextField @bind-Value="oldPassword" TextFieldType="TextFieldType.Password" />
        <span>新密码：</span>
        <FluentTextField @bind-Value="newPassword" TextFieldType="TextFieldType.Password" />
        <span>确认新密码：</span>
        <FluentTextField @bind-Value="newPassword2" TextFieldType="TextFieldType.Password" />
        <FluentButton OnClick="@UpdatePassword" BackgroundColor="red" Color="white">更新密码</FluentButton>
        @if (passwordChanged)
        {
            <p style="color: green">密码更新成功</p>
        }
        @if (wrongOldPassword)
        {
            <p style="color: red">旧密码错误</p>
        }
        @if (newPasswordNotSame)
        {
            <p style="color: red">两次输入的新密码不一致</p>
        }
    </FluentStack>
}
else
{
    <p>用户信息正在加载，请稍候......</p>
}

@code
{
    string userName = "";
    UserInfo? userInfo;
    bool passwordChanged = false, wrongOldPassword = false, newPasswordNotSame = false;

    string oldPassword = "", newPassword = "", newPassword2 = "";

    protected override async Task OnInitializedAsync()
    {
        userName = (await AuthenticationStateProvider
            .GetAuthenticationStateAsync())
            .User.FindFirstValue(ClaimTypes.Name) ?? "";
        userInfo = mainDb.Users.Find(userName);
        await base.OnInitializedAsync();
    }

    void UpdatePassword()
    {
        if (userInfo is null || !userInfo.PasswordHash.SequenceEqual(PasswordHelper.HashPassword(userInfo.PasswordSalt, oldPassword)))
        {
            wrongOldPassword = true;
            passwordChanged = false;
            newPasswordNotSame = false;
            return;
        }
        wrongOldPassword = false;
        if(newPassword != newPassword2)
        {
            passwordChanged = false;
            newPasswordNotSame = true;
            return;
        }
        newPasswordNotSame = false;
        userInfo.PasswordHash = PasswordHelper.HashPassword(userInfo.PasswordSalt, newPassword);
        mainDb.LoginInfos.RemoveRange(from loginInfo in mainDb.LoginInfos where loginInfo.User == userInfo select loginInfo);
        mainDb.SaveChanges();
        passwordChanged = true;
        return;
    }
}
