@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider

<FluentNavMenu Width="250">
    <h3>VirtualList Alpha</h3>
    <AuthorizeView>
        <Authorized>
            <FluentNavLink Href="/user">@userName，欢迎回来！</FluentNavLink>
            @if(userName == "root")
            {
                <FluentNavLink Href="/users">管理用户数据</FluentNavLink>
            }
            <FluentNavLink Href="/fileSpaces">文件空间</FluentNavLink>
        </Authorized>
        <NotAuthorized>
            <FluentNavLink Href="/login">请登录</FluentNavLink>
        </NotAuthorized>
    </AuthorizeView>
</FluentNavMenu>

@code {
    string userName = "";
    protected override async Task OnInitializedAsync()
    {
        userName = (await AuthenticationStateProvider
            .GetAuthenticationStateAsync())
            .User.FindFirstValue(ClaimTypes.Name) ?? "";
        await base.OnInitializedAsync();
    }
}
